@use "../abstracts" as *;
html {
    font-size: 14px;
    @include sm {
        font-size: 16px;
    }
}
body {
    font-size: var(--fs-400, map-get($font-size, "400"));
    font-family: "Roboto", sans-serif;
}
h1,
.logo,
h4 {
    font-weight: 500;
    font-family: "Shrikhand", serif;
}
.logo {
    font-size: var(--fs-700, map-get($font-size, "700"));
}
.banner h1 {
    font-family: "Roboto";
    font-weight: bold;
}
.banner sub {
    font-size: var(--fz-600, map-get($font-size, "600"));
    font-weight: 300;
    color: var(--text-dark, map-get($colors, text, "dark"));
}
h1 {
    font-size: var(--fz-700, map-get($font-size, "700"));
}
h2 {
    font-size: var(--fz-600, map-get($font-size, "600"));
}
h3 {
    font-size: var(--fz-500, map-get($font-size, "500"));
}
.fonction {
    font-weight: 700;
}
