%box-shadow__header {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}
%box-shadow__card {
    box-shadow: rgba(0, 0, 0, 0.13) 0px 4px 12px;
}
%box-shadow__card-hover {
    box-shadow: rgba(0, 0, 0, 0.28) 0px 4px 12px;
}
