/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* button reset */
button {
  background: inherit;
  border: none;
  margin: 0;
  padding: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  /*----- Font Size -----*/
  --fs-800: 2.25rem;
  --fs-700: 2rem;
  --fs-600: 1.375rem;
  --fs-500: 1.25rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  /*----- Colors -----*/
  --color-primary: #9356dc;
  --color-secondary: #ff79da;
  --color-tertiary: #99e2d0;
  --bg-white: #ffffff;
  --bg-light: #f5f5f5;
  --bg-medium: #eeeeee;
  --bg-dark: #2a303d;
  --bg-color: #f5edff;
  --bg-grey: #636363;
  --text-white: #ffffff;
  --text-light: #f5f5f5;
  --text-medium: #cccccc;
  --text-dark: #444444;
  --text-badge: #005e46;
}

html {
  font-size: 14px;
}
@media (min-width: 30em) {
  html {
    font-size: 16px;
  }
}

body {
  font-size: var(--fs-400, 1.125rem);
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 500;
  font-family: "Shrikhand", serif;
}

.banner h1 {
  font-family: "Roboto";
  font-weight: bold;
}

.banner sub {
  font-size: var(--fz-600, 1.375rem);
  font-weight: 300;
  color: var(--text-dark, #444444);
}

h1 {
  font-size: var(--fz-700, 2rem);
}

h2 {
  font-size: var(--fz-600, 1.375rem);
}

h3 {
  font-size: var(--fz-500, 1.25rem);
}

.fonction {
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../assets/fonts/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

header {
  padding: 1rem;
}

.container {
  margin: 0 auto;
  padding: 2rem 1rem;
}
@media (min-width: 30em) {
  .container {
    max-width: 48rem;
    padding: 2rem;
  }
}
@media (min-width: 48em) {
  .container {
    max-width: 54rem;
  }
}
@media (min-width: 62em) {
  .container {
    max-width: 58rem;
    padding: 3rem 2rem;
  }
}
@media (min-width: 75em) {
  .container {
    max-width: 78rem;
    padding: 3rem;
  }
}

.localisation, .header, .fonction .bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap, 1rem);
}

.banner .container, .footer .footer__services {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.restaurants .cards {
  display: grid;
  gap: var(--gap, 1rem);
}

.header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}

.card, .fonction, .button {
  box-shadow: rgba(0, 0, 0, 0.13) 0px 4px 12px;
}

.card:hover,
.card:focus-visible, .button:hover,
.button:focus-visible {
  box-shadow: rgba(0, 0, 0, 0.28) 0px 4px 12px;
}

.button {
  background: linear-gradient(170deg, var(--color-secondary, #ff79da), var(--color-primary, #9356dc));
  color: var(--text-white, #ffffff);
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 50vmax;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover,
.button:focus-visible {
  filter: brightness(1.1);
}

.like__button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.like__button .full-coeur,
.like__button .coeur {
  transition: opacity 0.2s ease-in-out;
}
.like__button .full-coeur {
  opacity: 0;
}
.like__button:hover .full-coeur, .like__button.active .full-coeur {
  opacity: 1;
}
.like__button:hover .coeur, .like__button.active .coeur {
  opacity: 0;
}

.loading__wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  inset: 0;
  display: grid;
  place-content: center;
  animation: loading-wrapper 2s linear;
  animation-fill-mode: both;
  z-index: 3;
}
.loading__wrapper .loading {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;
}
.loading__wrapper .loading div {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  animation: loading 1.2s linear infinite;
}
.loading__wrapper .loading div:nth-child(1) {
  top: 16px;
  left: 16px;
  animation-delay: 0s;
  background-color: var(--color-primary);
}
.loading__wrapper .loading div:nth-child(2) {
  top: 16px;
  left: 64px;
  animation-delay: 0.4s;
  background-color: var(--color-tertiary);
}
.loading__wrapper .loading div:nth-child(3) {
  top: 16px;
  left: 112px;
  animation-delay: 0.8s;
  background-color: var(--color-secondary);
}
.loading__wrapper .loading div:nth-child(4) {
  top: 64px;
  left: 16px;
  animation-delay: 0.4s;
  background-color: var(--color-tertiary);
}
.loading__wrapper .loading div:nth-child(5) {
  top: 64px;
  left: 64px;
  animation-delay: 0.8s;
  background-color: var(--color-secondary);
}
.loading__wrapper .loading div:nth-child(6) {
  top: 64px;
  left: 112px;
  animation-delay: 1.2s;
  background-color: var(--color-primary);
}
.loading__wrapper .loading div:nth-child(7) {
  top: 112px;
  left: 16px;
  animation-delay: 0.8s;
  background-color: var(--color-primary);
}
.loading__wrapper .loading div:nth-child(8) {
  top: 112px;
  left: 64px;
  animation-delay: 1.2s;
  background-color: var(--color-tertiary);
}
.loading__wrapper .loading div:nth-child(9) {
  top: 112px;
  left: 112px;
  animation-delay: 1.6s;
  background-color: var(--color-secondary);
}

@keyframes loading-wrapper {
  100% {
    visibility: hidden;
  }
}
@keyframes loading {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.fontions {
  display: flex;
  gap: 1rem;
}

.fonction {
  background: var(--bg-light, #f5f5f5);
  border-radius: 1rem;
  position: relative;
  display: flex;
  gap: 1rem;
  padding: 2rem;
  margin-left: 0.75rem;
  width: 100%;
  align-items: center;
  max-width: 22rem;
}
.fonction.active {
  background: var(--bg-color, #f5edff);
}
.fonction.active .icon {
  fill: var(--color-primary, #9356dc);
}
.fonction .bubble {
  position: absolute;
  left: 0;
  border-radius: 50%;
  width: 1.5rem;
  transform: translateX(-50%);
  aspect-ratio: 1/1;
  background: var(--color-primary, #9356dc);
  color: var(--text-white, #ffffff);
  font-size: var(--fs-200, 0.875rem);
  font-weight: 500;
}
.fonction .icon {
  width: 1.25rem;
  fill: var(--bg-grey, #636363);
}

.card {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  display: block;
  margin: 0 auto;
  max-width: 28rem;
  width: 100%;
}

.card:hover,
.card:focus-visible {
  transform: translateY(-0.1rem);
}

.card a {
  position: absolute;
  inset: 0;
}

.card__banner {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__badge {
  position: absolute;
  padding: 0.4rem 0.8rem;
  top: 5%;
  right: 5%;
  background-color: var(--color-tertiary, #99e2d0);
  color: var(--text-badge, #005e46);
  font-weight: 700;
}

.header {
  height: 5rem;
  width: 100%;
  position: relative;
}
.header .logo {
  width: 12rem;
}
.header .logo img {
  width: 100%;
}

footer,
.footer {
  background: var(--bg-dark, #2a303d);
  color: var(--text-light, #f5f5f5);
}

.footer .logo {
  width: 8rem;
}
.footer .footer__services {
  margin-top: 1.25rem;
}
@media (min-width: 48em) {
  .footer .footer__services {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer .service {
  display: flex;
  gap: 1rem;
}
.footer .service img {
  width: 1em;
}
.footer .service:hover {
  color: var(--text-medium, #cccccc);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

main > *:nth-child(2n) {
  background: var(--bg-light, #f5f5f5);
}

section h2 {
  margin-bottom: 1rem;
}
section .container > div {
  margin: 3rem 0;
}

.localisation {
  background: var(--bg-medium, #eeeeee);
}
.localisation .icon {
  width: 1rem;
}

.banner .container {
  text-align: center;
  align-items: center;
}

.localisation {
  padding: 1rem;
}

.fonctions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.restaurants .cards {
  justify-content: center;
  grid-template-columns: 1fr;
  max-width: 57rem;
  margin-inline: auto;
}
@media (min-width: 48em) {
  .restaurants .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.restaurants .card {
  width: 100%;
}
.restaurants .card__img {
  height: 180px;
}
.restaurants .card__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.restaurants .card_banner {
  height: 30%;
}
.restaurants .card__like {
  z-index: 2;
}
