.like__button {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    .full-coeur,
    .coeur {
        transition: opacity 0.2s ease-in-out;
    }
    .full-coeur {
        opacity: 0;
    }
    &:hover .full-coeur,
    &.active .full-coeur {
        opacity: 1;
    }
    &:hover .coeur,
    &.active .coeur {
        opacity: 0;
    }
}
