@use "../utilities";
@use "./../abstracts" as *;

.header {
    height: 5rem;
    width: 100%;
    @extend %flex-center;
    @extend %box-shadow__header;
    position: relative;
    .logo {
        width: 12rem;
        img {
            width: 100%;
        }
    }
    .back {
        position: absolute;
        left: max(5vw, 1rem);
        img {
            transition: transform 0.2s ease-in-out;
        }
        &:hover {
            img {
                transform: translateX(-0.2rem);
            }
        }
    }
}
